.vscode/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
wheels/
pip-wheel-metadata/
share/python-wheels/
MANIFEST
*.manifest
*.spec
pip-log.txt
.cache
local_settings.py
target/
.ipynb_checkpoints
ipython_config.py
.python-version
.env
.venv
env/
venv/
ENV/
mpsenv/
env.bak/
venv.bak/
